# Script Assignment 3

**Your name:** Katelyn Choudhari             

**Your ID:** 5368756

All solutions should be only in Jupyter Notebook.
Provide comments for every solution.
Code in Code cell and Text in Markdown cell.

Use the movie lens dataset and address the following functions:

In [63]:
#extract and clean initial data

import pandas as pd
import numpy as np

#load the data into a dataframe
movieData = 'movies.csv'
moviesDataFrame = pd.read_csv(movieData, header = None, names = ['RawData', 'Unnamed1', 'Unnamed2'])

#split the raw data column into columns: 'ID', 'Title', 'Genres'
moviesDataFrame[['ID', 'Title', 'Genres']] = moviesDataFrame['RawData'].str.split('::', expand=True)

#drop the original raw data column and any extra columns
moviesDataFrame = moviesDataFrame[['ID', 'Title', 'Genres']]

#fill in an empty string where there is any NaN value in the Genre column
moviesDataFrame['Genres'] = moviesDataFrame['Genres'].fillna('')

#split the genres by deliminter | and extract the first genre for ones with multiple genres (done here to make later tasks easier)
moviesDataFrame['First Genre'] = moviesDataFrame['Genres'].apply(lambda x: x.split('|')[0])

#print the first few rows of the csv table to check file can be opened, read and formatted correctly
print(moviesDataFrame.head())

  ID                               Title                        Genres  \
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

  First Genre
0   Animation
1   Adventure
2      Comedy
3      Comedy
4      Comedy

1. Transform Titles lowercase to uppercase and uppercase to lowercase. - 1 point

In [66]:
#transform capitalization of titles
moviesDataFrame['Transformed Title'] = moviesDataFrame['Title'].apply(lambda x: x.swapcase())

print(moviesDataFrame['Transformed Title'])

0                         tOY sTORY (1995)
1                           jUMANJI (1995)
2                  gRUMPIER oLD mEN (1995)
3                 wAITING TO eXHALE (1995)
4       fATHER OF THE bRIDE pART ii (1995)
                       ...
3878               mEET THE pARENTS (2000)
3879            rEQUIEM FOR A dREAM (2000)
3880                      tIGERLAND (2000)
3881               tWO fAMILY hOUSE (2000)
3882                             cONTENDER
Name: Transformed Title, Length: 3883, dtype: object

2. Replace movie id with any number between 99 to 999 (use conditions as needed) - 1 point

In [69]:
#replace movie id with any number between 99 to 999
import numpy as np

moviesDataFrame['Transformed ID'] = np.random.randint(99, 1000, moviesDataFrame.shape[0])
print(moviesDataFrame['Transformed ID'])

0       762
1       227
2       354
3       991
4       712
       ...
3878    364
3879    104
3880    405
3881    848
3882    933
Name: Transformed ID, Length: 3883, dtype: int32

3. Finds the first match on Genres - 1 point

In [72]:
#get first genre
moviesDataFrame['First Genre'] = moviesDataFrame['Genres'].apply(lambda x: x.split('|')[0])
print(moviesDataFrame['First Genre'])

0       Animation
1       Adventure
2          Comedy
3          Comedy
4          Comedy
          ...
3878       Comedy
3879        Drama
3880        Drama
3881        Drama
3882
Name: First Genre, Length: 3883, dtype: object

4. Substitute comedy genres with horror - 1 point

In [75]:
#sub comedy genres with horror
moviesDataFrame['Transformed Genre'] = moviesDataFrame['Genres'].str.replace('Comedy', 'Horror', regex=True)
print(moviesDataFrame['Transformed Genre'])

0        Animation|Children's|Horror
1       Adventure|Children's|Fantasy
2                     Horror|Romance
3                       Horror|Drama
4                             Horror
                    ...
3878                          Horror
3879                           Drama
3880                           Drama
3881                           Drama
3882
Name: Transformed Genre, Length: 3883, dtype: object

5. Split Genre by the prefix - 1 point

In [78]:
#split Genre by the prefix (split by '|')
moviesDataFrame['Genre Split'] = moviesDataFrame['Genres'].str.split('|')
print(moviesDataFrame['Genre Split'])

0        [Animation, Children's, Comedy]
1       [Adventure, Children's, Fantasy]
2                      [Comedy, Romance]
3                        [Comedy, Drama]
4                               [Comedy]
                      ...
3878                            [Comedy]
3879                             [Drama]
3880                             [Drama]
3881                             [Drama]
3882                                  []
Name: Genre Split, Length: 3883, dtype: object

Using regular expression.

1. Provide a regular expression that may be used to extract complete email addresses. Use my email id khanh.vu@ucf.edu

In [82]:
import re

#get email addresses from the provided string
email = "khanh.vu@ucf.edu"
emailRegex = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
x = re.findall(email_regex, email_string)

print(x)

['khanh.vu@ucf.edu']

2. This time write a regex to get only the part of the email before the "@" sign and include the "@" sign.

In [96]:
#get only the part of the email before "@" including "@" sign
emailRegexBeforeAt = r'[a-zA-Z0-9._%+-]+@'
x1 = re.findall(emailRegexBeforeAt, email)

print (x1)

['khanh.vu@']

3. This time write a regex to get only the part of the email after the "@" sign and exclude the "@" sign.

In [99]:
#get only the part of the email after "@" excluding the "@" sign
emailRegexAfterAt = r'(?<=@)[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
x2 = re.findall(emailRegexAfterAt, email)

print(x2)

['ucf.edu']

4. Find the words with exactly 8 letters using regex. '''Au pays parfume que le soleil caresse, J'ai connu, sous un dais d'arbres tout empourpres Et de palmiers d'ou pleut sur les yeux la paresse, Une dame creole aux charmes ignores.'''

In [102]:
#find words with exactly 8 letters in the given French text
frenchWords = '''Au pays parfume que le soleil caresse, J'ai connu, sous un dais d'arbres tout empourpres Et de palmiers d'ou pleut sur les yeux la paresse, Une dame creole aux charmes ignores.'''
eightRegex = r'\b\w{8}\b'
x3 = re.findall(eightRegex, frenchWords)

print(x3)

['palmiers']

5. You are given stock prices for related financial tickers. (Symbols representing companies in the stock market). Find a way to extract the tickers mentioned in the report. i.e.: TSLA, NFLX ..."""Some of the prices were as following TSLA:749.50, ORCL: 50.50, GE: 10.90, MSFT: 170.50, BIDU: 121.40. As the macroeconomic developments continue we will update the prices. """

In [107]:
#get stock tickers from the financial report
stonks = "Some of the prices were as following TSLA:749.50, ORCL: 50.50, GE: 10.90, MSFT: 170.50, BIDU: 121.40. As the macroeconomic developments continue we will update the prices."
tickerRegex = r'\b[A-Z]{2,5}(?=:)' #match two to five uppercase letters before the colon to get the tickers
x4 = re.findall(tickerRegex, stonks)

print(x4)

['TSLA', 'ORCL', 'GE', 'MSFT', 'BIDU']